﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rekomendasi Asesmen FS2</h1>
    <br><br>
    <div style="border: thin solid black"> 
        <br>
        <form method="post" action="/score">
        <div>
            <label><b>Urgensi</b></label>
            <br>
            <select name="urgensi" required>
                <option value='' selected hidden disabled>-- Pilih Urgensi --</option>
                <option value=1>Rendah</option>
                <option value=2>Sedang</option>
                <option value=3>Tinggi</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Lag Time (> 3 Bulan?)</b></label>
            <br>
            <select name="lagTime" required>
                <option value='' selected hidden disabled>-- Pilih Lag Time --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 1</b></label>
            <br>
            <label>Tidak Menambah dan/atau Mengubah Fungsi yang Berdampak Struktural/Cakupan Besar</label>
            <br>
            <select name="kriteria1" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 1 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 2</b></label>
            <br>
            <label>Tidak Menambah Sumber Data Baru dari Aplikasi Lain (Kecuali:  Aplikasi <i>Reference Management</i>, Aplikasi <i>Data Master Management</i>, dan Aplikasi <i>Convertion Engine</i>)</label>
            <br>
            <select name="kriteria2" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 2 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 3</b></label>
            <br>
            <label>Tidak Mengubah Sumber Data yang Berdampak Struktural/Cakupan Besar</label>
            <br>
            <select name="kriteria3" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 3 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 4</b></label>
            <br>
            <label>Tidak Mengubah Alur Kerja Aplikasi</label>
            <br>
            <select name="kriteria4" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 4 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 5</b></label>
            <br>
            <label>Tidak Menambah dan/atau Mengubah <i>Framework</i> Aplikasi Secara Signifikan</label>
            <br>
            <select name="kriteria5" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 5 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Kriteria 6</b></label>
            <br>
            <label>Tidak Menambah Infrastruktur TI Baru (Perangkat Keras, Perangkat Lunak, dan/atau Lisensi)</label>
            <br>
            <select name="kriteria6" required>
                <option value='' selected hidden disabled>-- Pilih Kriteria 6 --</option>
                <option value=1>Ya</option>
                <option value=2>Tidak</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Upaya terhadap Desain Database</b></label>
            <br>
            <select name="desainDatabase" required>
                <option value='' selected hidden disabled>-- Pilih Upaya terhadap Desain Database --</option>
                <option value=1>Rendah</option>
                <option value=2>Sedang</option>
                <option value=3>Tinggi</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Upaya terhadap Proses pada Aplikasi</b></label>
            <br>
            <select name="prosesAplikasi" required>
                <option value='' selected hidden disabled>-- Pilih Upaya terhadap Proses pada Aplikasi --</option>
                <option value=1>Rendah</option>
                <option value=2>Sedang</option>
                <option value=3>Tinggi</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Upaya terhadap Antarmuka</b></label>
            <br>
            <select name="antarmuka" required>
                <option value='' selected hidden disabled>-- Pilih Upaya terhadap Antarmuka --</option>
                <option value=1>Rendah</option>
                <option value=2>Sedang</option>
                <option value=3>Tinggi</option>
            </select>
        <div>
        <br>
        <div>
            <label><b>Upaya terhadap Jadwal dan SDM</b></label>
            <br>
            <select name="jadwalSDM" required>
                <option value='' selected hidden disabled>-- Pilih Upaya terhadap Jadwal dan SDM --</option>
                <option value=1>Rendah</option>
                <option value=2>Sedang</option>
                <option value=3>Tinggi</option>
            </select>
        <div>
        <br>
        <div>
            <input type="submit" />
        </div>
        <br>
    </div>
    
    
</form>
</div>
